<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Agent Scenario Interaction </h1>
    </header>
    
    <section class="home-menu">
        <h2>Pages</h2>
        <ul>
            <li><a href="/auto_conversation">Auto Conversation</a></li>
            <li><a href="/memory_view">View Memory Strem</a></li>
            <li><a href="/manual_chat">Manual Chating</a></li>
        </ul>
    </section>
    
    <hr/>
    
    <footer>
        <p>&copy; 2024 최원섭 탐구논총</p>
    </footer>
</body>
</html>
